In [12]:
import pandas as pd
import regex as re

In [2]:
filename = r'Query Reports Master File-flatten-AW.xlsx'
df = pd.read_excel(filename)

In [3]:
df.head()

,Population,Unit Description,Unit Type,QUERY TYPE,QUERY NAME,Comments
0,STAFF,NaN,"CX, EX, LX\nNX, RX, SX\nTX, HX, DX",Rate Query,UC_WFAP008_NEW_RATE_REPORT,NaN
1,STAFF,NaN,"CX, EX, LX\nNX, RX, SX\nTX, HX, DX",Rate Validation Query,UC_WFAP008_RATE_VALIDATION,NaN
2,STAFF,NaN,"CX, EX, LX\nNX, RX, SX\nTX, HX, DX",Rate Validation Ranges Query,UC_WFAP008_RATE_VALIDATION_RAN,Use for ranges
3,STAFF,NaN,"CX, EX, LX\nNX, RX, SX\nTX, HX, DX",Preliminary Population Query,UC_WFAP008_NEW_PRELIM_POP,NaN
4,STAFF,NaN,"CX, EX, LX\nNX, RX, SX\nTX, HX, DX",Post Run Upated Query,UC_WFAP008_NEW_POST_RUN_UPD,NaN

In [13]:
df['Unit Type List'] = list(df['Unit Type'].apply(lambda x: re.split(r"[,]|\n",str(x))))

In [15]:
df.drop(columns='Unit Type',axis=1,inplace=True)

In [16]:
df.head()

,Population,Unit Description,QUERY TYPE,QUERY NAME,Comments,Unit Type List
0,STAFF,NaN,Rate Query,UC_WFAP008_NEW_RATE_REPORT,NaN,"[CX, EX, LX, NX, RX, SX, TX, HX, DX]"
1,STAFF,NaN,Rate Validation Query,UC_WFAP008_RATE_VALIDATION,NaN,"[CX, EX, LX, NX, RX, SX, TX, HX, DX]"
2,STAFF,NaN,Rate Validation Ranges Query,UC_WFAP008_RATE_VALIDATION_RAN,Use for ranges,"[CX, EX, LX, NX, RX, SX, TX, HX, DX]"
3,STAFF,NaN,Preliminary Population Query,UC_WFAP008_NEW_PRELIM_POP,NaN,"[CX, EX, LX, NX, RX, SX, TX, HX, DX]"
4,STAFF,NaN,Post Run Upated Query,UC_WFAP008_NEW_POST_RUN_UPD,NaN,"[CX, EX, LX, NX, RX, SX, TX, HX, DX]"

In [17]:
df.columns

Index(['Population', 'Unit Description', 'QUERY TYPE', 'QUERY NAME',
       'Comments', 'Unit Type List'],
      dtype='object')

In [21]:
df.rename(columns={'Unit Type List':'Unit Type'},inplace=True)

In [22]:
df23 = df.explode(column='Unit Type',ignore_index=True)

In [23]:
df.columns

Index(['Population', 'Unit Description', 'QUERY TYPE', 'QUERY NAME',
       'Comments', 'Unit Type'],
      dtype='object')

In [25]:
len(df23)

178

In [26]:
df23.columns

Index(['Population', 'Unit Description', 'QUERY TYPE', 'QUERY NAME',
       'Comments', 'Unit Type'],
      dtype='object')

In [28]:
exp_columns = ['Population', 'Unit Description', 'Unit Type','QUERY TYPE', 'QUERY NAME',
       'Comments']
df23.to_excel('Query Reports Master File-flatten-POC-AW_09042025.xlsx',columns=exp_columns,index=False)