In [1]:
import pandas as pd
from datetime import date, datetime

<h2>Preprocessing UC_FIN284_RFL_RECONCILE worksheet</h2>

In [2]:
df = pd.read_excel('Input_Files/UC_FIN284_RFL_RECONCILE_1108132082.xls', header=1)

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

<h4>1.Create UID (Unique ID) which concatenates STRING(emplid) and STRING(Current Date)based of Excel Day Zero - 12/30/1899 </h4>

In [3]:
def excel_serial_date(d):
    excel_day_zero = date(1899,12,30)
    delta = d.date() - excel_day_zero
    return delta.days
#UID = str(df['Employee ID'][0])+str(excel_serial_date(df['Current Date'][0]))
#date_string = "7/8/2025"
#dt_obj = datetime.strptime(date_string,"%m/%d/%Y")
#UID = "10051642"+ str(excel_serial_date(dt_obj))
#print(UID)

In [4]:
df['UID'] = [ str(emplid)+str(excel_serial_date(cdate)) for emplid, cdate in zip(df['Employee ID'], df['Current Date'])]

<h4>2. Move all rows with Pay Status = Paid Leave of Absence to Paid Leave dataframe and remove duplicate</h4>

In [5]:
dfPaidLeave = df[(df['Pay Status']=='Paid Leave of Absence')].copy()
dfPaidLeave.drop_duplicates(subset=['UID'],inplace=True)
#dfPaidLeave.head()

<h4>3. Sort all rows with Pay Status != Paid Leave of Absence by Current Date from oldest to newest</h4>

In [6]:
dfFiltered = df[(df['Pay Status']!='Paid Leave of Absence')].copy()
#dfFiltered.sort_values(by='Current Date',ascending=True,inplace=True)
dfFiltered.head()

,Business Unit,Employee ID,Employee Name,Payroll Status,Pay Status,Pay Group,Current Date,Action Date,Elig Fld 1,Elig Fld 2,Empl Record,Job Indicator,UID
0,ASLA1,10732021,"Avila,Delfina",Active,Unpaid Leave of Absence,AME,2025-09-15 00:00:00,2025-09-10,F,F,0,P,1073202145915
1,ASLA1,10734113,"Huerta,Ervin",Active,Unpaid Leave of Absence,AB7,2025-08-11 00:00:00,2025-09-03,F,F,0,P,1073411345880
2,BKCMP,10526824,"Abubakr,Marwa",Terminated,Short Work Break,1AC,2025-09-14 00:00:00,2025-09-13,G,G,2,S,1052682445914
6,BKCMP,10549048,"Agadjanian,Alexander",Terminated,Short Work Break,1AC,2025-09-14 00:00:00,2025-09-13,G,G,0,P,1054904845914
7,BKCMP,10787424,"Agrawal,Soniya",Terminated,Short Work Break,1M9,2025-09-14 00:00:00,2025-09-13,G,G,0,S,1078742445914

<h4>4. Move Future dated RFL rows to Future-Dated dataframe , remove duplicates, sort Current Date, and filter only RFL current date </h4>

In [9]:
dfFutureDatedRFL = dfFiltered[(dfFiltered['Current Date']> datetime.now())].copy()
dfFutureDatedRFL.sort_values(by='Current Date',ascending=True,inplace=True)
dfFutureDatedRFL.drop_duplicates(subset=['UID'],inplace=True)

In [10]:
dfFutureDatedRFL.head()

,Business Unit,Employee ID,Employee Name,Payroll Status,Pay Status,Pay Group,Current Date,Action Date,Elig Fld 1,Elig Fld 2,Empl Record,Job Indicator,UID
1825,LACMP,10125057,"Yordanova,Veselka",Active,Unpaid Leave of Absence,4B7,2025-10-11 00:00:00,2025-09-16,F,F,0,P,1012505745941
1797,LACMP,10674290,"Villegas,Martha Lizbeth",Active,Unpaid Leave of Absence,4B7,2025-10-11 00:00:00,2025-09-15,F,F,0,P,1067429045941
1701,LACMP,10134394,"Posada,Erika L",Active,Unpaid Leave of Absence,4B7,2025-10-12 00:00:00,2025-09-16,F,F,0,P,1013439445942
565,DVCMP,10233636,"Cooley,Julianne Jean Penner",Active,Unpaid Leave of Absence,3ME,2025-10-15 00:00:00,2025-09-15,F,F,0,P,1023363645945
1770,LACMP,10798310,"Suarez,Adriana S",Active,Unpaid Leave of Absence,4B7,2025-10-15 00:00:00,2025-09-15,F,F,0,P,1079831045945

<h4>5. Remove future-dated rows in (filtered) Master i.e. dfFiltered, sort Current Date newest to oldest, and remove duplicates on UID </h4>

In [ ]:
dfFiltered= dfFiltered[(dfFiltered['Current Date'] <= datetime.now())].copy()
dfFiltered.sort_values(by='Current Date', ascending=False, inplace=False)
dfFiltered.drop_duplicates(subset=['UID'],inplace=True)

In [ ]:
dfFiltered.head()

<h2> Additional Steps - pending decision </h2>

<h4>Create a dictionary/map for Payroll Status</h4>

In [ ]:
dfFiltered['Payroll Status'].unique()

In [7]:
payrollStatusList=list(dfFiltered['Payroll Status'].unique())
payrollStatusDict ={}
for p in payrollStatusList:
    payrollStatusDict[p]=p[0]
    
payrollStatusDict

{'Active': 'A', 'Terminated': 'T', 'Retired': 'R', 'Deceased': 'D'}

<h4>Re-map Payroll Status with abbreviated letter</h4>

In [ ]:
dfFiltered['Payroll Status'] = dfFiltered['Payroll Status'].map(lambda x= payrollStatusDict[x])

<h4>(TBD)Create a copy dataframe where Payroll Status is Active</h4>

In [5]:
dfactive = dfFiltered[(dfFiltered['Payroll Status']=='Active' )].copy()

<h4>Create a copy dataframe where Payroll Status is Inactive</h4>

In [10]:
dfinactive = dfFiltered[(dfFiltered['Payroll Status']!='Active')].copy()

<h4>Re-map Payroll Status with abbreviated letter</h4>

In [11]:
dfinactive['Payroll Status'] = df['Payroll Status'].map(lambda x: payrollStatusDict[x])

<h2>Write dataframes into Excel</h2>

In [15]:
todayDate =datetime.now().strftime("%m.%d.%y_%H-%M-%S")
outputfilename="RFL Master File_"+todayDate

with pd.ExcelWriter(f'./test/{outputfilename}.xlsx',datetime_format='MM/DD/YYYY') as writer:
        #dfactive.to_excel(writer,sheet_name='Active', index=False)
        #dfinactive.to_excel(writer,sheet_name='Inactive',index=False)
        dfFiltered(writer,sheet_name='Master', index=False)
        dfFutureDatedRFL.to_excel(writer,sheet_name='Futured_Dated',index=False)
        dfPaidLeave.to_excel(writer,sheet_name='Paid_Leave',index=False)